
@font-face {
font-family: 'Inter-Light';
src: local('Inter-Light'), url('Inter-Light.ttf') format('ttf');
font-weight: lighter;
}
@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'), url('Inter-Regular.ttf') format('ttf');
  font-weight: normal;
}
@font-face {
font-family: 'Inter-Medium';
src: local('Inter-Medium'), url('Inter-Medium.ttf') format('ttf');
font-weight: medium;
}
