/* title */
.item1 {
    grid-column: 3 / span 5;
   margin-top:5%;
}
/* description */
.item2 {
    grid-column: 8 / span 5;
    grid-row:2;
   margin-top:5%;
}
/* left tag */
.item3 {
    grid-column: 8 / span 9;
    grid-row: 3;

}
/* right tag */
.item4 {
    grid-column: 11/ span 2;
    grid-row: 3;

}
/* image */
.item5 {
    grid-column: 8 / span 5;
    margin-top:5%;
    margin-left:5%;
}
/* poster */
.poster {
  margin-left:7%;
  margin-right:7%;
}
.poster1 {
  grid-column: 2 / span 6;
  margin-right: 3%;
}
.poster2 {
  grid-column: 8 / span 6;
  margin-left: 3%;
}
.poster3 {
  grid-column: 10 / span 6;
  margin-top:5%;
}
.poster4 {
  grid-column: 7 / span 7;
  margin-left:-12%;
}
.poster5 {
  grid-column: 2 / span 5;
  margin-right:-3%;
}


.one1 {
  grid-column: 2 / span 4;
  margin-top: 5%;
  margin-right: 2%;
}
.two2 {
  grid-column: 6 / span 4;
  margin-left: 2%;
  margin-top: 5%;
  margin-right: 2%;
}
.three3{
  grid-column: 10 / 14;
  margin-top: 5%;
  margin-left: 2%;
}
/* poster title */
.item6 {
  grid-column: 3 / span 5;
  margin-top: 2%;
  grid-row:-4;
}
/* poster description */
.item7 {
    grid-column: 8 / span 5;
    grid-row:-4;
}
.item8{
    grid-column: 2 / span 6;
    margin-top:5%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(4, -100%);
}
/* coverimage */
.wrapperimg {
  grid-column: 1/ span 14;
  grid-row: 1;
  width:100%;
  margin-top: 6%;
  height:auto;
  max-height:400px;
}

/*PROJECT PAGE ADJUSTING*/
@media all and (max-width: 1200px) {

    #project .side-info {
        width: 40%;
    }

    #project .project-info {
        width: 60%;
    }

    #project .project-info .project-text {
        width: 71.4286%;
    }

    #project .project-info .project-text-solo {
        width: 71.4286%;
    }

    #more-projects {
        width: 41.6666%;
        position: relative;
        margin: 0;
        left: 41.6666%;
    }

}

@media all and (max-width: 1100px) {
    #project-list .project-name h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

}

@media all and (max-width: 900px) {
    #project .side-info {
        width: 50%;
    }

    #project .project-info {
        width: 50%;
    }

    #project .project-info .project-text {
        width: 100%;
    }

    #project .side-info h1 {
        font-size: 2.5rem;
    }

}

@media all and (max-width: 850px) {
    #project-list {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    #project-list p {
        margin-top: 2rem;
    }

    #project-list a {
        font-size: 3rem;
        display: inline;
        -webkit-text-stroke-width: 0.05rem;
    }

    #project-list .project-type p,
    #project-list .project-description p {
        font-size: 0.75rem;
        line-height: 1rem;
    }


    @media all and (max-width: 700px) {
        #project {
            display: block;

        }

        #project .side-info {
            width: 100%;
        }

        #project .side-info h2 {
            width: 100%;
        }

        #project .side-info p {
            width: 100%;
        }

        #project .project-info {
            width: 100%;
        }
      
    }

    @media all and (max-width: 780px) {
        .project-description p {
            display: none;
        }

        .project-type p {
            display: none;
        }

    }


    /*EDGE CASE MOBILE*/
    @media all and (max-width: 400px) {

        #project-list .project-name h2 {
            margin-bottom: 1rem;
        }

        .line hr {
            margin-bottom: 1rem;
        }

        #project-list .project-name h2 a {
            font-size: 2.5rem;
            line-height: 1.5rem;
        }

    }
