* {
    font-family: 'Lato', 'Helvetica Neue', "Helvetica", sans-serif;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/*FIXED SIDE INFO*/
#project {
  margin-top: 5rem;
  position: relative;
  top: 0.5rem;
  left: 8.333%;
  width: 81%;
  display: flex;
}

#project .side-info {
    width: 35%;
    display: block;
    top: 0;
}

#project .side-info .fixed {
    top: 5rem;
    position: sticky;
}

#project .side-info h1 {
    margin-top: 10%;
    margin-bottom: 3rem;
    padding-right: 1rem;
    font-family: 'Lato', Helvetica Neu,sans-serif;
    font-weight: 400;
    width: 100%;
}

#project .side-info h2 {
  font-family: 'Lato', Helvetica Neu,sans-serif;
  font-weight: lighter;
  font-size: 90%;
  line-height: normal;
  width: 50%;
  margin-bottom: 0.5rem;
}

#project .side-info p {
  width: 65%;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 1.35rem;
}


#project .project-info {
    width: 70%;
    display: block;
    margin-left: 0rem;
}

#project .project-info .project-text {
    width: 56%;
}

.text-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#project p.body-text {
    font-size: 16px;
    line-height: 1.35rem;
    letter-spacing: 0.005rem;
}

#project p.body-text a {
    text-decoration: underline;
}

#project .text-group h2 {
  font-family: 'Lato', Helvetica Neu,sans-serif;
  font-weight: lighter;
  font-size: 100%;
  line-height: normal;
  width: 50%;
}

.project-images img {
    width: 100%;
    margin-bottom: 2rem;
}

#footer2 {
  left: 0;
  width: 100%;
  margin-top: 5%;
  padding-left: 3%;
}

#footer2 li a{
  padding: 0;
}

#footer2 h3 {
  font-weight: normal;
  font-size:90%;
  line-height: normal;
}
#footer2 h2 {
  font-weight: normal;
  font-size:90%;
  line-height: normal;
}

#footer2 h1 {
    margin-top: 0;
    font-weight: 400;
    width: 100%;
}
