* {
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF;
}

h1 {
  font-family: 'Inter-Regular', Inter, sans-serif;
  font-size:260%;
  font-weight: 400;
  color: #111414;
}
h2 {
  font-family: 'Inter-Regular', Inter,sans-serif;
  font-size:108%;
  font-weight: 400;
  line-height:130%;
  color: #111414;
}
h3 {
  font-family: 'Inter-Regular', Inter, sans-serif;
  font-size:260%;
  font-weight: 400;
  color: #111414;
  line-height:130%;
}
h4 {
  font-family: 'Inter-Regular', Inter,sans-serif;
  font-size:108%;
  font-weight: 400;
  line-height:130%;
  color: #979797;
  line-height:1%;
}
h5 {
  font-family: 'Inter-Regular', Inter,sans-serif;
  font-size:108%;
  font-weight: 400;
  line-height:130%;
  color: #111414;
}
h6 {
  font-family: 'Inter-Regular', Inter,sans-serif;
  font-size:108%;
  font-weight: 400;
  line-height:130%;
  color: #979797;
  margin: 0;
  justify-self: start; /* Align h4 to the left */

}
h7 {
  font-family: 'Inter-Regular', Inter, sans-serif;
  font-size:260%;
  font-weight: 400;
  color: #111414;
  margin: 0;
  justify-self: end; /* Align h1 to the right */
}

sup {
  font-size: 50%;
}

hr {
  border-top: 1px solid;
  color: #C4C4C4;
}

/*HYPERLINK INTERACTION*/
a:link {
  text-decoration: none;
  color: #111414;
  font-family: 'Inter-Regular', Inter, sans-serif;
}
a:visited {
  text-decoration: none;
  color: #111414;
  font-family: 'Inter-Medium', Inter, sans-serif;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #111414;
  font-family: 'Inter-Medium', Inter, sans-serif;
  font-weight: 500;
}
a:active {
  color: #111414;
  font-family: 'Inter-Medium', Inter, sans-serif;
  font-weight: 500;
}
