html, body {
  margin: 0;
  padding: 0;
  border:0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 5vw;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
.column2 {
	width:33%;
	float:left;
}
/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.two {
	width: 50%;
	float: left;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
  }
.aboutmargin {
  margin-right: 10%;
  margin-left: 10%;
}
#grad1 {
  height: 100%;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1)); 
}
.help {cursor: help;}
.navigationbar {
	width: 100%;
	height: 10%;
	line-height: 110px;
	position: sticky;
	text-align:center;
	  z-intex:9999;
	}	
.headerme:hover {
  color: #9933ff;
  transition: 0.3s;
}
.headercontact:hover {
  color: #9933ff;
  z-index: 9999;
  transition: 0.3s;
}
.headerme {
  font-family: Georgia;
  font-size: 2vw;
  font-weight: bold;
  float: left;
  padding-left:40px;
  margin-top:5%;
  pointer-events:auto;
}
.headercontact {
  font-family: Georgia;
  font-size: 2vw;
  font-weight: bold;
  float: right;
  margin-top:5%;
  padding-right: 40px;
}
.responsive {
	
	width: 50%;
	height: auto;
}

.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
}

.column div span {
	position: absolute;
	bottom:-20px;
	left: 0;
	display: block;
	width: 220px;
	color: #444;
	font-family:Geneva;
	font-size: .75vw;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
}
figure:hover+span {
	bottom: -25px;
	opacity: 1;
}


body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
}




/*click outline*/
		p {font-family: Georgia;
		    font-size: 5vw;}
		    a:link {
		  text-decoration: none;
		  color: black;
		}
		a:visited {
		  text-decoration: none;
		  color: black;
		}
		a:hover {
		  text-decoration: none;
		  color: #9933ff;
		}
		a:active {
		  text-decoration: none;
		}

h1 {font-family: geneva;
	font-weight: bold;
	font-size: 100%;
	text-align:justify;
}
h2 {font-family: geneva;
	font-weight: 100;
	font-size: 1vw;
	color: #9933ff;
}
h3 {font-family: geneva;
	font-weight: 50;
	font-size: 1vw;
}

h4 { font-family: geneva;
	font-weight: 50;
	font-size: 1vw;
	font-style: italic;}

img {
  height: 100%;
  width: 100%;
  margin-right: 100%;
  }

p1 {font-family: geneva;
	font-weight: bold;
	font-size: 1vw;
	text-align:justify;
}

.img1 { background-image: url("sequence/5.jpg"); }
div.a {
  text-align: center;
}
.header{
	display: inline-block;
}
.subheader {
	display: inline-block;
	grid-area: "main"
}
.aboutdescription {
	margin-left:5%;
}

.grid-container{
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
}

}
