html, body {
  margin: 0;
  padding: 0;
  border:0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
/*Font*/
@font-face {
  font-family: lausanne;
  src: url(lausanne.otf);
}
@font-face {
  font-family: akzidenz-grotesk;
  src: url(akzidenz-grotesk.otf);
}

/* Center website */
.main {
  margin-top:3%;
  padding-left:3%;
  padding-right:3%;
}

.padding {
    padding-left:10%;
    padding-right:10%;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 90%;
  color: black;
}

.btn:hover {
  background-color: #f3f3f3;
  color: #9B30FF;
}

.btn.active {
 color: #black;
}

/*cursor*/
.help {cursor: help;}

/*click outline*/
    p {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
        font-size: 5vw;}
        a:link {
      text-decoration: none;
      color: black;
    }
    a:visited {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration: none;
      color: #9B30FF;
    }
    a:active {
      text-decoration: none;
    }

/* Type */
h1 {font-family: lausanne, Helvetica Neu,Serif;
  font-weight: bold;
  font-size: 150%;
  text-align:left;
  /* margin-top:130px; */
  margin-left:10%;
  margin-right:10%;
  padding-top:5%;
}
h2 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
  font-weight: 50;
  font-size: 100%;
  color: grey;
  text-align:left;
  margin-top:10px;
  padding-left:10%;
  padding-right:10%;
}
h3 {font-family: akzidenz-grotesk, Helvetica Neue, Serif;
  font-weight: 50;
  font-size: 105%;
  line-height: 1.6;
  font-weight: normal;
  float:right;
  width:60%;
  text-align:left;
  padding-left:10%;
  padding-right:10%;
}

h4 {font-family: akzidenz-grotesk, Helvetica Neue, Serif;
  font-weight: 50;
  font-size: 105%;
  line-height: 1.6;
  font-weight: normal;
  text-align:left;
  padding-bottom:10%;
  padding-left:25%;
  padding-right:25%;
}

h5  {font-family: lausanne, Helvetica Neue, Serif;
  font-weight: 50;
  font-size: 180%;
  line-height: 1.6;
  text-align:left;
  margin-left:-6%;
}
h6  {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
  font-weight: 50;
  font-size: 100%;
  color: grey;
  text-align:left;
  margin-top:10px;
  padding-left:0%;
  padding-right:0%;
}

.aboutdescription {
  margin-right: 30%;
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top:3%;
  position: relative;
  text-align:justify;
  padding-left:3%;
  padding-right:3%;
}

img {
  height: 100%;
  width: 100%;
  }


#navbar {
  position: relative;
  width: 100%;
  display: inline-block;
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  margin-top:20px;
  margin-right:9%;
  font-size: 21px;
  font-weight:bold;
  color: #9B30FF;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
  position: relative;
}

/* #navbar a:hover {
  color: #9B30FF;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
} */

/*navigation bar*/
#navbar2 {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background-color: #f3f3f3;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
}

#navbar2 a {
  float: center;
  display: inline-block;
  text-align: center;
  margin:auto;
  margin-left:3%;
  margin-top:2%;
  text-decoration: none;
  font-size: 130%;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
  color:black;
}

#navbar2 a:hover {
  color: #9B30FF;
  font-family: akzidenz-grotesk,Helvetica Neue, Serif;
}

#navbar2white {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
}

#navbar2white a {
  float: center;
  display: inline-block;
  text-align: center;
  margin:auto;
  margin-left:3%;
  margin-top:2%;
  text-decoration: none;
  font-size: 130%;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
  color:white;
}

#navbar2white a:hover {
  color: #9B30FF;
  font-family: akzidenz-grotesk,Helvetica Neue, Serif;
}
.two {
    width: 50%;
    float: left;
    padding: 15px;
}
.column2 {
    width: 33%;
    float: left;
    padding: 5px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1280px) {
  .padding {
    padding-left:0%;
    padding-right:0%;
  }
  .column {
    width: 100%;
    margin:auto;
  }
  h1 {font-family: lausanne, Helvetica Neu,Serif;
    font-weight: bold;
    font-size: 150%;
    text-align:left;
    /* margin-top:130px; */
    margin-left:5%;
    margin-right:5%;
    padding-top:5%;
  }
  h2 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 100%;
    color: grey;
    text-align:left;
    margin-top:10px;
    padding-left:5%;
    padding-right:5%;
  }
  h3 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 21px;
    line-height: 1.6;
    font-weight: normal;
    padding-left:5%;
    padding-right:5%;
    float:none;
    min-width:100%;
    text-align:left;
  }
  h4 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 21px;
    line-height: 1.6;
    font-weight: normal;
    padding-left:5%;
    padding-right:5%;
    float:none;
    min-width:100%;
    text-align:left;
  }
  h5  {font-family: lausanne, Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 21px;
    line-height: 1.6;
    margin-left:-3%;
    text-align:left;
  }
  h2 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 100%;
    color: grey;
    text-align:left;
    margin-top:10px;
    padding-left:5%;
    padding-right:5%;
  }


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .padding {
    padding-left:0%;
    padding-right:0%;
  }
  .column {
    width: 100%;
    margin: auto;
  }

  h1 {font-family: lausanne, Helvetica Neu,Serif;
    font-weight: bold;
    font-size: 150%;
    text-align:left;
    /* margin-top:130px; */
    margin-left:5%;
    margin-right:5%;
    padding-top:5%;
  }
  h2 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 100%;
    color: grey;
    text-align:left;
    margin-top:10px;
    padding-left:5%;
    padding-right:5%;
  }
  h4 {font-family: Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    float:none;
    min-width:100%;
    text-align:left;
  }
  h3 {font-family: Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    float:none;
    min-width:100%;
    text-align:left;
  }
  h5  {font-family: lausanne, Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 18px;
    line-height: 1.6;
    margin-left:-2%;
    text-align:left;
  }

  h6 {font-family: akzidenz-grotesk,Helvetica Neue, Serif;
    font-weight: 50;
    font-size: 100%;
    color: grey;
    text-align:left;
    margin-top:10px;
    padding-left:5%;
    padding-right:5%;
  }
  img {
    height: 100%;
    width: 100%;
    padding-left:5%;
    padding-right:5%;
    }

  .aboutdescription {
  padding-top: 1%;
  margin-bottom: 50px;
  width: 90%;
  font-weight:normal;
  text-align: left;
  position: relative;
}

#navbar2 a {
  float: center;
  display: inline-block;
  text-align: center;
  margin:auto;
  margin-left:3%;
  margin-top:5%;
  text-decoration: none;
  font-size: 130%;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
}

#navbar2white a {
  float: center;
  display: inline-block;
  text-align: center;
  margin:auto;
  margin-left:3%;
  margin-top:5%;
  text-decoration: none;
  font-size: 130%;
  font-family: akzidenz-grotesk, Helvetica Neue,Serif;
  color:white;
}

}
